
.nav {
    background-color:  #8C001A;
    color:white;
    text-align:center;
    width: 100%;
}

.content {
    background-color: white;
    color:grey;
    text-align:center;
    padding:5px;
    font-family: Consolas, monaco, monospace;
}
body {
    width:100%;
    float: left;
    background-color: white !important;
}


.favs-table{
border-collapse: collapse;
    text-align: left;
    width: 100%;
}

th, td {
    text-align: left;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #8C001A;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #6e0d1c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: Consolas, monaco, monospace;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: 	#a6061c;
}
.active {
    background-color: #a6061c;
}
