<content>
<h1>Detail Page</h1>
    <p>your selected beer: <input type="text" name="name" value= "{{name}}" ng-model ="name"/></p>
    <p>your rating: <input type="text" name="rating" ng-model ="rating"/></p>
    <p>your comments: <input type="text" name="rating" ng-model ="comments"/></p>
    <p>{{ message }}</p>
    <p><button  ng-click="postRatingBeer()">Add to Favourites</button></p>
</content>