<content>
<h1>Favourites Page</h1>
<p>{{ message }}</p>
<table class="favs-table">

    <th>Name</th>
    <th>Rating</th>
    <th>Comments</th>
    <th>Remove</th>
    <th>New Rating</th>

  <tr ng-repeat="beer in beers">
    <td>{{beer.name}}</td> 
    <td>{{beer.rating}}</td>
    <td>{{beer.comments}}</td>
    <td><a  ng-click="delete(beer)" href="">remove</a></td>
   <td><input type ="text" value="newrating" ng-model="newrating"/> <button type ="button" ng-click="update(beer,newrating)">update</button></td>
</tr>
</table>
</content>