<content>
<h1>Login</h1>
    <p>Username: <input type="text" name="Username" ng-model ="username"/></p>
    <p>Password: <input type="password" name="Password" ng-model ="password"/></p>
    <p><button type ="button" ng-click="login($event)">Login</button> <button type ="button" ng-click="logout($event)">Log Out</button></p>

<h2>Register</h2>
    <p>Username: <input type="text" name="Username" ng-model ="newusername"/></p>
    <p>Password: <input type="password" name="Password" ng-model ="newpassword"/></p>
    <p> <button type ="button" ng-click="registerAccount()">Register</button></p>
</content>