<content>
<h1>Search Page</h1>
    <p>{{ message }}</p>

    <p><input type="text" ng-model="searchTerm" ng-keydown="search($event)" autofocus></p>

<table class="favs-table">
    <tr>
        <th>Name</th>
        <th>Abv</th>
        <th>Description</th>
        <th>Add to favourites</th>
    </tr>
    <tr>
        <td> {{beers.name}} </td>
        <td> {{beers.abv}} </td>
        <td> {{beers.description}} </td>
        <td> <button><a href=#detail/{{beers.name}} >Add</a></button> </td>
    </tr>
</table>
</content>
